.checkoutContainer{
    background-image: url("../images/mountainrange.svg");
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    text-align: center;
  }

.checkoutContainer button{
    width: fit-content;
    height: fit-content;
    background-color: #23272A;
    color: white;
}

.checkoutContainer button:hover{
    background-color: #393c41;
}

.checkoutBtns{
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 200px;
}

#payBtn{
    justify-self: center;
}

.currentCart{
    padding-left: 20px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 50%;
    height: 100%;
    align-self: center;
    justify-self: center;
    scroll-behavior: smooth;
    
}

.cartCard{
    display: grid;
    width: 150px;
    height: 200px;
    background-color: #D2CCB1;
    justify-content: center;
    text-align: center;
}

.cartItemBtns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    font-size: 20px;
}

.cartItemBtns button{
    height: 40px;
    width: 40px;
    font-size: 20px;
    align-self: center;
    background-color: #23272A;
    color: white;
    border-style: none;
}

.cartItemBtns button:hover{
    background-color: #393c41;
}