.App{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.headerContainer{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: auto;
  background-color: #23272A;
  color: white;
  height: 60px;
  
}

.headerContainer h1{
  justify-self: end;
}

.headerContainer img{
  justify-self: end;
}

.header{
  margin: 0;
}

.NavBar{
  
  background-color: #23272A;
  color: white;
  
}
.NavList{
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  
}

.homeNav{
  justify-self: end;
  padding-right: 5%;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.homeNav:focus{
  outline: none !important;
}

.Footer{
  position: fixed;
  bottom: 0; 
  width: 100%;
  height: 60px;
  background-color: #23272A;
  color: white;
}

.homePage{
  background-image: url("./images/mountainrange.svg");
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  
  
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.homeDescription{
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 2;
}

.shopNow{
  display: grid;
  grid-row-start: 2;
}

#shopBtn{
  justify-self: center;
  height: 20px;
  background-color: #23272A;
  color: white;
  border-style: none;
}

#shopBtn:hover{
  background-color: #393c41;
}

.shopPage{
  background-image: url("./images/mountainrange.svg");
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
}

.shopPage h1{
  margin: 0;
}

#homeBtn{
  justify-self: center;
  height: 20px;
  background-color: #23272A;
  color: white;
  border-style: none;
  
}

#homeBtn:hover{
  background-color: #393c41;
}